#carousel,.carousel-inner{
    height:400px;
}

table{
    width:100%;
}




@Media (max-width: 479px) {
    
    #carousel,.carousel-inner{
        height:200px;
        margin-top: 30px;
    }

    h1{
        font-size: 25px;
    }
    
    table{
        width:95%
    }
}

